<h1>To Do List</h1>

<ul class="toDoList">
  <li *ngFor="let todo of todoList">
    <span class="badge">{{ todo.name }}</span>
    <input type="checkbox" name="isMarkedAsDone" [checked]="todo.isMarkedAsDone" (change)="markAsDone(todo.id, $event.target.checked)">
    <a class="checkbox" href="javascript:void(0)" (click)="deleteTodo(todo.id)">Delete</a>
  </li>
</ul>

<button (click)="isAddNewFormVisible = true;"> Add</button>

<div *ngIf="isAddNewFormVisible">
  <form [formGroup]="todoRequest">
   <p><label>Name</label>
    <input type="text" name="name" formControlName="name"></p>
    <p>Mark as Done<input type="checkbox" name="isMarkedAsDone" formControlName="isMarkedAsDone" value="done"><p></p>
    <button (click)="addNewTodo()"> Add </button>
  </form>
</div>
